@import "../Global/theme.scss";

.eventWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 4rem;
  img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    flex-shrink: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .chip {
      background-color: $primary-bg;
      padding: 0.5rem 1rem;
      color: $text-on-dark;
      border-radius: 0.75rem;
      width: fit-content;
      display: inline-block;
    }
    .heading {
      margin-bottom: 1rem;
    }
    .textContent {
      margin-top: 1rem;
    }
    .tags {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      flex-wrap: wrap;
    }
  }
}
