@import "../../components/Global/theme.scss";

.inputWrapper {
  display: inline-block;
  .label {
    display: block;
    margin-bottom: 4px;
  }

  .input {
    @include input-styles;
    display: block;
    z-index: 1;
    &[data-invalid] {
      border: 2px solid $error;
    }
  }

  .error {
    margin-top: 4px;
    display: block;
    color: $error;
  }
}
