@import "../../components/Global/theme.scss";

.downloads {
  display: flex;
  flex-direction: column;
  gap: 1em;
  a {
    text-decoration: underline;
  }
  button {
    @include button-styles;
    min-width: 200px;
    flex-wrap: 1;
    flex-grow: 1;
    &.disabled {
      background-color: $text-gray;
    }
  }
  .lineups {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
