@import "../Global/theme.scss";

.textWrapper {
  display: block;
  .image {
    float: left;
    border-radius: $border-radius;
    height: 350px;
    margin-right: 20px;
    object-fit: cover;
    width: auto;
    max-width: 600px;
    @include size-s {
      float: none;
      margin-bottom: 16px;
      width: 100%;
      height: auto;
    }
  }
}
