@import "../../components/Global/theme.scss";

.inputGroup {
  display: flex;
  gap: 16px;
  width: fit-content;
  margin-top: 4px;
  @include input-styles;
  .dateInput {
    display: flex;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.popover {
  background-color: white;
  padding: 24px;
  border-radius: $border-radius;
  outline: 2px solid $light-gray;
  box-shadow: $box-shadow;
  font-family: Inter;
  .headerSection {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    button {
      background-color: transparent;
      border: none;
      padding: 4px;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
      cursor: pointer;
      &[data-hovered] {
        transition: 150ms ease-in-out;
        color: $text-gray;
      }
    }
  }

  .calendarGrid {
    width: 100%;
    margin-top: 16px;
    // th,
    // td {
    //   padding: 8px 12px;
    //   text-align: center;
    // }
    // td [aria-disabled] {
    //   color: $text-gray;
    // }
    // td [data-selected] {
    //   background-color: $primary-bg;
    //   border-radius: 0.5rem;
    // }
    .cell {
      $cell-size: 2.5rem;
      width: $cell-size;
      height: $cell-size;
      text-align: center;
      line-height: $cell-size;
      cursor: pointer;
      &[data-hovered] {
        background-color: $secondary-bg;
        border-radius: 0.5rem;
      }
      &[data-selected] {
        background-color: $primary-bg;
        color: $text-on-dark;
        border-radius: 0.5rem;
      }
      &[data-disabled] {
        color: $text-gray;
      }
    }
  }
}
.label {
  margin-bottom: 4px;
}
