@import "../Global/theme.scss";
.modalOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(30px) grayscale(50%);
  background-color: rgba(0, 0, 0, 0.623);
  &[data-entering] {
    animation: modal-fade 200ms;
    .modal .dialog {
      animation: modal-zoom 200ms;
    }
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
    .modal .dialog {
      animation: modal-zoom 150ms reverse ease-in;
    }
  }
  .modal {
    .dialog {
      background-color: white;
      padding: 32px;
      border-radius: $border-radius;
      border: 2px solid $light-gray;
      font-family: Inter;
      max-width: 400px;
      h3 {
        letter-spacing: -0.05em;
        font-weight: 700;
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 16px;
      }
      .buttonGroup {
        display: flex;
        gap: 16px;
        .abortButton {
          @include button-styles("outline");
          width: 100%;
        }

        .submitButton {
          width: 100%;
          @include button-styles;
        }
      }
    }
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
    backdrop-filter: blur(0px) grayscale(0%);
  }

  to {
    opacity: 1;
    backdrop-filter: blur(30px) grayscale(50%);
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
