@import "../Global/theme.scss";
.dropzone {
  background-color: white;
  border: 2px solid $light-gray;
  border-radius: $border-radius;
  height: 100%;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  button {
    width: fit-content;
    @include button-styles;
  }
}
