@import "../../components/Global/theme.scss";
.games {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @include size-m {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include size-s {
    display: flex;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
}
.gameDay {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.5rem;
  }
}
