// Breakpoints
$breakpoint-s: 768px; // Smallest breakpoint
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

// Mixins
@mixin size-s {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin size-m {
  @media (min-width: $breakpoint-s) and (max-width: $breakpoint-m) {
    @content;
  }
}

@mixin size-l {
  @media (min-width: $breakpoint-m) {
    @content;
  }
}
