$primary-bg: #5e7bad;
$primary-bg-hover: #7390c2;

$primary-dark: #435f8f;

$secondary-bg: #f5f5f5;

/* Text */
$text-on-bright: #1b1a2e;
$text-on-dark: #ffffff;

$tag: #575f6e;

$text-gray: rgb(107, 105, 124);
$light-gray: rgb(209, 209, 209);

$white-100: rgb(241, 241, 241);
$white-200: rgb(235, 234, 234);

$error: #eb3544;

$warning-bg: #f8f4c3;
$warning-color: #5a4d37;

$success-bg: #e0ffd6;
$success-color: #21602b;
