@import "../Global/theme.scss";

.navContainer {
  width: 100%;
  height: 70px;
  background-color: $primary-bg;
  position: fixed;
  z-index: 2;
  .buttonContainer {
    @include size-s {
      display: flex;
    }
    height: 100%;
    display: none;
    align-items: center;
    button {
      margin-left: 2em;
      width: 40px;
      height: 40px;
      padding: 4px;
      background-color: transparent;
      border: none;
      svg {
        color: white;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.popover {
  z-index: 100;
  position: fixed !important;
  max-height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
  background-color: rgba($text-on-bright, 0.8);
  backdrop-filter: blur(15px) grayscale(0.5);
  display: flex;
  width: 100vw;
  height: calc(100vh);
  .exitButton {
    position: absolute;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: white;
    right: 1em;
    top: 1em;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  .menuWrapper {
    z-index: 100;
    outline: none !important;
    margin-left: 30px;
    margin-top: 80px;
    height: 70px;
    .menu {
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      &.submenu {
        z-index: 100;
        margin-left: 1em;
      }
      .menuItem {
        z-index: 100;
        pointer-events: all;
        padding: 0.5em;
        display: block;
        border-radius: $border-radius;
        font-family: Inter;
        color: $text-on-dark;
        border-radius: $border-radius;
        background-color: transparent;
        border: none;
        font-size: 16px;
        display: flex;
        gap: 0.5em;
        align-items: center;
        z-index: 1000;
        svg {
          height: 16px;
          width: 16px;
        }
        &[data-hovered] {
          background-color: rgba($text-on-bright, 0.4);
          backdrop-filter: blur(40px);
        }
        &[data-focused] {
          background-color: rgba($text-on-bright, 0.8);
          outline: none;
          backdrop-filter: blur(40px);
        }
      }
    }
  }
}
.linkContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  @include size-s {
    display: none;
  }
  @include size-m {
    gap: 0px;
  }
}
.menuVisible {
  @include size-s {
    display: none;
  }
  display: flex !important;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(60px);
  color: $text-on-dark;
  z-index: 100;
  a {
    padding: 0.5em;
  }
  .mobileLinks {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
}
.link {
  color: white;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: Inter;
  font-size: 16px;
  border-radius: 16px;
  transition: background-color 100ms;
  &[data-hovered],
  :hover {
    background-color: rgba(255, 255, 255, 0.267);
  }
}

.listBoxWrapper {
  z-index: 99;
  position: absolute;
  padding: 15px;
  left: -64px;
  &.isOpen .listBox {
    display: flex;
  }
  .listBox {
    display: none;
    background-color: $primary-bg;
    border-radius: 0 0 $border-radius $border-radius;
    width: 200px;
    color: white;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    .listBoxItem {
      padding: 10px 16px;
      border-radius: $border-radius;
      transition: background-color 200ms;
      &[data-hovered] {
        background-color: rgba(255, 255, 255, 0.267);
      }
    }
  }
}
