@import "../Global/theme.scss";

.wrapper {
  display: flex;
  gap: 2em;
  @include size-s {
    flex-direction: column;
  }
  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    h4,
    p {
      display: inline;
    }
    h4 {
      font-weight: 500;
    }
  }
  .image {
    flex-shrink: 0;
    img {
      height: 400px;
      width: 300px;
      border-radius: $border-radius;
      object-fit: cover;
      @include size-s {
        width: 100%;
      }
    }
  }
}
