@import "../Global/theme.scss";

.eventWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 4rem;
  overflow: hidden;
  @include size-m {
    gap: 2rem;
  }
  @include size-s {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
    img {
      width: 100%;
      max-width: 800px !important;
      max-height: 500px !important;
    }
  }
  &.noImage {
    background-color: $secondary-bg;
    padding: 2rem;
    border-radius: 1rem;
  }
  img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    flex-shrink: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .infoChips {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      .chip {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
    .chip {
      background-color: $primary-bg;
      padding: 0.5rem 1rem;
      color: $text-on-dark;
      border-radius: 0.75rem;
      width: fit-content;
      display: inline-block;
    }
    .heading {
      margin-bottom: 1rem;
    }
    .textContent {
      margin-top: 1rem;
    }
    .tags {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      flex-wrap: wrap;
    }
  }
}
