@import "../Global/theme.scss";

.textWrapper {
  p {
    line-height: 150% !important;
  }
  display: block;
  .image {
    float: left;
    height: 350px;
    margin-right: 20px;
    max-width: 600px;
    img {
      border-radius: $border-radius;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    @include size-s {
      float: none;
      margin-bottom: 16px;
      width: 100%;
      height: auto;
    }
  }
  ul {
    position: relative;
    left: 24px;
  }
  a {
    color: $primary-bg;
    font-weight: 700;
    text-decoration: underline;
  }
}
.contentWrapper {
  line-height: 150%;
}
