@import "../../components/Global/theme.scss";
.container {
  margin-top: 16px;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  .content {
    div {
      height: 350px;
      padding: 16px;
      font-family: Inter;
      font-size: 16px;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
  .menuBar {
    background-color: #fafafa;
    border-radius: $border-radius $border-radius 0 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    button {
      font-family: Inter;
      font-size: 16px;
      height: 40px;
      min-width: 40px;
      svg {
        height: 20px;
      }
      border: 2px solid $light-gray;
      background-color: white;
      border-radius: $border-radius;
      transition: 0.1s;
      &[data-disabled] {
        background-color: #fafafa;
      }
      &[data-hovered] {
        background-color: $light-gray;
      }
      &.isActive {
        background-color: #e4eaf5;
        border: 2px solid $primary-bg;
      }
    }
  }
}
